<header></header>

<h1>About Page</h1>
<button class="sample">Click Me</button>

<%= htmlWebpackPlugin.options.name %>
<br />
<hr />

<%= htmlWebpackPlugin.options.siteName %>

<hr />
<br />

<footer></footer>
