<% const {name} = htmlWebpackPlugin.options %>
<header_template></header_template>
<h1><%= name %></h1>
<h2>Hello</h2>
<h2>Hello</h2>
<h2>Hello</h2>
<h2>Hello</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste officiis
  voluptas facere quos ratione quasi eos tempore culpa, non eveniet!
</p>



<button class="sample">Click Me</button>

<footer_template></footer_template>
