<header></header>

<h1>Home</h1>
<button class="sample">Click Me</button>
<a href="about.html">About Me</a>
<a href="contact.html">Contact Me</a>

<br />
<hr />
<%= htmlWebpackPlugin.options.name %>
<hr />
<br />

<img src=" <%= require("../assets/chicken.jpg") %> " alt="" class="chicken">
<footer></footer>
